.env
venv
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
data/cooper_hewitt_textile_objects.json
data/met_textile_objects.json
data/textile_objectIDs.json
data/cooper_hewitt_formatted_data.json
data/met_formatted_data.json
.ipynb_checkpoints/
.DS_Store